body {
    font-family: sans-serif;
}

.hero {
    background-color: rgb(215, 215, 215);
    border: 1px solid rgb(172, 172, 172);
    padding: 1.5rem;
}

.hero img{
    height: 250px;
    width: 300px;
}

.schema {
    background-color: rgb(215, 215, 215);
    border: 1px solid rgb(172, 172, 172);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.schema article {
    background-color: rgb(227, 227, 227);
    padding: 1.5rem;

}

footer {
    background-color: rgb(215, 215, 215);
    padding: 1.5rem;
    margin-top: 1.5rem;
}